header{
	background-color: #58D3F7;
	width: 99%;
	position: fixed;
	margin-top: 0px;
}

footer{
	background-color: #FFBF00;
	width: 90%;
	clear: both;
}

section{
	background-color: #E6E6E6;
	width: 39%;
	float: left;
}

aside{
	background-color: #58FA58;
	width: 30%;
	margin-top: 50px;
	float: left;
}
